<% provide(:title, 'base_points') %>

<h1>拠点一覧</h1>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-base-points">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>拠点番号</th>
        <th>拠点名</th>
        <th>勤怠種類</th>
      </tr>
    </thead>

    <% @base_points.each do |base_point| %>
      <tbody>
        <tr>
          <td><%= link_to "修正", edit_base_point_path(base_point.id), class: "btn btn-primary" %></td>
          <td><%= link_to "削除", base_point_path(base_point.id), method: :delete, class: "btn btn-primary" %></td>
          <td><%= base_point.base_point_number %></td>
          <td><%= base_point.base_point_name %></td>
          <td><%= base_point.attendance_type %></td>
        </tr>
    <% end %>
      </tbody>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-base-points-add">
    <thead>
      <tr>
        <th><%= link_to "拠点情報追加", new_base_point_path, class: "btn btn-primary" %></th>
      </tr>
    </thead>
  </table>
</div>
