<% provide(:title, "All Users") %>
<h1>ユーザー一覧</h1>

<%= render 'search_form' %>

<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file, class: "file" %>
  <br>
  <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
<% end %>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.name, user %><br>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-primary btn-sm user-btn-delete" %>
              <table class="table table-bordered table-condensed table-hover" id="user-btn-edit">
                <thead>
                  <tr>
                    <th><%= link_to "編集", "#", class: "btn btn-primary btn-lg" %></th>
                  </tr>
                </thead>
              </table>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>